datasets==3.3.2
huggingface_hub==0.29.2
ipython==8.12.3
langchain_chroma==0.2.2
langchain_huggingface==0.1.2
matplotlib==3.10.1
peft==0.14.0
torch==2.6.0+cu124
tqdm==4.67.1
transformers==4.49.0
unsloth
umap==0.1.1
vllm==0.8.3
wandb==0.19.8
chromadb
numpy
pandas
setuptools
python-dotenv
